<a href="https://colab.research.google.com/github/ldthinh220802/sharksthinh/blob/main/b%C3%A0i_t%E1%BA%ADp_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. In giá trị của Series đó ra màn hình

In [2]:
S = pd.Series(np.random.randint(100,size = 10))
S

0    70
1    44
2    81
3    13
4    71
5    81
6    35
7    79
8    71
9    45
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [3]:
dict_1 = {'tên':'Shark Thịnh ', 'tuổi': 19, 'công việc': 'sinh viên', 'lương': '1000000USD', 'đi xe': 'BWM I8'}
D = pd.Series(dict_1)
D

tên          Shark Thịnh
tuổi                   19
công việc       sinh viên
lương          1000000USD
đi xe              BWM I8
dtype: object


Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [6]:
S_id = []
z=1
for i in S.index:
    S_id.append(f'giá trị thứ {z}')
    z+=1
S_2 = pd.Series(S.values, index=S_id)
S_2

giá trị thứ 1     70
giá trị thứ 2     44
giá trị thứ 3     81
giá trị thứ 4     13
giá trị thứ 5     71
giá trị thứ 6     81
giá trị thứ 7     35
giá trị thứ 8     79
giá trị thứ 9     71
giá trị thứ 10    45
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [7]:
print(D[4])

BWM I8

In [ ]:
Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [8]:
print(S_2['giá trị thứ 1'])

70

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [11]:
#Lấy các số thứ (1-4)
S_2[[(name.endswith('1') or name.endswith('0'))for name in S_2.index]]

giá trị thứ 1     70
giá trị thứ 10    45
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [12]:
S.index.name = 'STT'
S.name = 'Gia_tri'
S

STT
0    70
1    44
2    81
3    13
4    71
5    81
6    35
7    79
8    71
9    45
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [13]:
S_log = pd.Series([np.log(gt) for gt in S.values])
S_log.name = 'logarith'
S_log

0    4.248495
1    3.784190
2    4.394449
3    2.564949
4    4.262680
5    4.394449
6    3.555348
7    4.369448
8    4.262680
9    3.806662
Name: logarith, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [14]:
S[S>15]

STT
0    70
1    44
2    81
4    71
5    81
6    35
7    79
8    71
9    45
Name: Gia_tri, dtype: int64