<a href="https://colab.research.google.com/github/ldthinh220802/sharksthinh/blob/main/for_n%C3%A2ng_cao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
list2 = [({'name': 'Peter', 'age':2}, {'name': 'John', 'age':21}), 
         ({'name': 'Mary', 'age':2}, {'name': 'Trandanpro', 'age':21}), 
         ({'name': 'Nam', 'age':2}, {'name': 'Hung', 'age':21}), 
         ({'name': 'Mai', 'age':2}, {'name': 'Loan', 'age':21})]
for i in list2:
   #print(i)
   for x in i :
     print(x)
     for count,y in enumerate(x,1):
       print(count,y,":",x[y])

{'name': 'Peter', 'age': 2}
1 name : Peter
2 age : 2
{'name': 'John', 'age': 21}
1 name : John
2 age : 21
{'name': 'Mary', 'age': 2}
1 name : Mary
2 age : 2
{'name': 'Trandanpro', 'age': 21}
1 name : Trandanpro
2 age : 21
{'name': 'Nam', 'age': 2}
1 name : Nam
2 age : 2
{'name': 'Hung', 'age': 21}
1 name : Hung
2 age : 21
{'name': 'Mai', 'age': 2}
1 name : Mai
2 age : 2
{'name': 'Loan', 'age': 21}
1 name : Loan
2 age : 21