<a href="https://colab.research.google.com/github/ldthinh220802/sharksthinh/blob/main/thuc_hanh_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

THỰC HÀNH LAMBDA - APPLY

1. Sử dụng bộ dữ liệu baseball.csv

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('baseball.csv')
df.head(10)

      id     player  year  stint team  lg  ...    so   ibb  hbp   sh   sf  gidp
0  88641  womacto01  2006      2  CHN  NL  ...   4.0   0.0  0.0  3.0  0.0   0.0
1  88643  schilcu01  2006      1  BOS  AL  ...   1.0   0.0  0.0  0.0  0.0   0.0
2  88645  myersmi01  2006      1  NYA  AL  ...   0.0   0.0  0.0  0.0  0.0   0.0
3  88649  helliri01  2006      1  MIL  NL  ...   2.0   0.0  0.0  0.0  0.0   0.0
4  88650  johnsra05  2006      1  NYA  AL  ...   4.0   0.0  0.0  0.0  0.0   0.0
5  88652  finlest01  2006      1  SFN  NL  ...  55.0   2.0  2.0  3.0  4.0   6.0
6  88653  gonzalu01  2006      1  ARI  NL  ...  58.0  10.0  7.0  0.0  6.0  14.0
7  88662   seleaa01  2006      1  LAN  NL  ...   7.0   0.0  0.0  6.0  0.0   1.0
8  89177  francju01  2007      2  ATL  NL  ...  10.0   1.0  0.0  0.0  1.0   1.0
9  89178  francju01  2007      1  NYN  NL  ...  13.0   0.0  0.0  0.0  1.0   1.0

[10 rows x 23 columns]

2. Hãy xây dựng hàm lambda theo công thức sau: $\frac{x + log(x)}{\sqrt(x)}$

In [3]:
a = lambda x: (x + np.log10(x))/np.sqrt(x)
print(a(10))

3.478505426185217

3. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc đối với 1 Series do bạn chọn từ data frame ở bước 1

In [5]:
df.g.apply(a)

0      4.652265
1      5.835621
2      8.101642
3      4.763055
4      6.008902
        ...
95     6.093598
96     4.652265
97    11.007858
98     9.535317
99     3.147718
Name: g, Length: 100, dtype: float64

4. Hãy thực thi hàm apply với lambda ở trên theo chiều ngang và chiều dọc với 1 nhóm cột (hoặc có thể là toàn bộ) của data frame ở bước 1

In [7]:
df_new = df[['g', 'so']]
df_new.apply(a)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

            g        so
0    4.652265  2.301030
1    5.835621  1.000000
2    8.101642      -inf
3    4.763055  1.627074
4    6.008902  2.301030
..        ...       ...
95   6.093598      -inf
96   4.652265      -inf
97  11.007858  8.819619
98   9.535317  5.746910
99   3.147718  2.007517

[100 rows x 2 columns]

THỰC HÀNH APPLY VÀ HÀM TỰ XÂY DỰNG

Trong thực tế không phải lúc nào cũng sử dụng lambda với apply, mà có thể sử dụng apply với các hàm có sẵn khác hoặc do lập trình viên tự xây dựng.

1. Hãy áp dụng nhóm hàm sum, mean, sqrt, log của thư viện numpy cho data frame ở trên theo chiều ngang và chiều dọc

In [8]:
tong = lambda x :(np.sum(x))
tb = lambda x :(np.mean(x))
can = lambda x : (np.sqrt(x))
logar = lambda x : (np.log10(x))

In [9]:
for i in range(2):
  print(df_new.apply(tong, i))
for i in range(2):
  print(df_new.apply(tb, i))
for i in range(2):
  print(df_new.apply(can, i))
for i in range(2):
  print(df_new.apply(logar, i))

g     5238.0
so    2408.0
dtype: float64
0      23.0
1      32.0
2      62.0
3      22.0
4      37.0
      ...
95     34.0
96     19.0
97    191.0
98    117.0
99     11.0
Length: 100, dtype: float64
g     52.38
so    24.08
dtype: float64
0     11.5
1     16.0
2     31.0
3     11.0
4     18.5
      ...
95    17.0
96     9.5
97    95.5
98    58.5
99     5.5
Length: 100, dtype: float64
            g        so
0    4.358899  2.000000
1    5.567764  1.000000
2    7.874008  0.000000
3    4.472136  1.414214
4    5.744563  2.000000
..        ...       ...
95   5.830952  0.000000
96   4.358899  0.000000
97  10.816654  8.602325
98   9.327379  5.477226
99   2.828427  1.732051

[100 rows x 2 columns]
            g        so
0    4.358899  2.000000
1    5.567764  1.000000
2    7.874008  0.000000
3    4.472136  1.414214
4    5.744563  2.000000
..        ...       ...
95   5.830952  0.000000
96   4.358899  0.000000
97  10.816654  8.602325
98   9.327379  5.477226
99   2.828427  1.732051

[100 rows x 2 columns]
           g        so
0   1.278754  0.602060
1   1.491362  0.000000
2   1.792392      -inf
3   1.301030  0.301030
4   1.518514  0.602060
..       ...       ...
95  1.531479      -inf
96  1.278754      -inf
97  2.068186  1.869232
98  1.939519  1.477121
99  0.903090  0.477121

[100 rows x 2 columns]
           g        so
0   1.278754  0.602060
1   1.491362  0.000000
2   1.792392      -inf
3   1.301030  0.301030
4   1.518514  0.602060
..       ...       ...
95  1.531479      -inf
96  1.278754      -inf
97  2.068186  1.869232
98  1.939519  1.477121
99  0.903090  0.477121

[100 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

2. Hãy xây dựng một hàm có tên là my_function có tham số đầu vào là x. Phương pháp tính toán của hàm như sau:
 (i) Nếu x >0  thì trả về log10(x); (ii) Nếu x <= 0  thì trả về $e^{x}$

In [10]:
my_function = lambda x: np.log10(x) if (x > 0)  else np.exp(x)
my_function(-55)

1.2995814250075031e-24

3. Hãy sử dụng hàm apply để gọi my_function áp dụng cho data frame ở bước 1 ở trên

In [11]:
for i in df_new.columns:
  print(df[f'{i}'].apply(my_function))

0     1.278754
1     1.491362
2     1.792392
3     1.301030
4     1.518514
        ...
95    1.531479
96    1.278754
97    2.068186
98    1.939519
99    0.903090
Name: g, Length: 100, dtype: float64
0     0.602060
1     0.000000
2     1.000000
3     0.301030
4     0.602060
        ...
95    1.000000
96    1.000000
97    1.869232
98    1.477121
99    0.477121
Name: so, Length: 100, dtype: float64